<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>無障礙去街Guide</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>App-Icon-144.png</string>
				<string>App-Icon-57.png</string>
				<string>App-Icon-114.png</string>
				<string>App-Icon-120.png</string>
				<string>App-Icon-76.png</string>
				<string>App-Icon-120.png</string>
				<string>App-Icon-152.png</string>
				<string>App-Icon-57.png</string>
				<string>App-Icon-114.png</string>
				<string>App-Icon-72.png</string>
				<string>App-Icon-144.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>App-Icon-144.png</string>
				<string>App-Icon-144.png</string>
				<string></string>
				<string>App-Icon-144.png</string>
				<string>App-Icon-76.png</string>
				<string>App-Icon-157.png</string>
				<string>App-Icon-76.png</string>
				<string>App-Icon-120.png</string>
				<string>App-Icon-152.png</string>
				<string>App-Icon-57.png</string>
				<string>App-Icon-114.png</string>
				<string>App-Icon-72.png</string>
				<string>App-Icon-144.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.anglia.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>5.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>FacebookAppID</key>
	<string>649558988417403</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
