<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loading</key>
	<string>載入中...</string>
	<key>type_all</key>
	<string>景點類型</string>
	<key>district_all</key>
	<string>地點</string>
	<key>a_click_vote</key>
	<string>按此評分</string>
	<key>a_current_mark</key>
	<string>現在評分為%@星</string>
	<key>a_spot_opinion</key>
	<string>您的意見</string>
	<key>a_facebook</key>
	<string>分享到Facebook</string>
	<key>a_go_map</key>
	<string>開啟地圖</string>
	<key>a_info</key>
	<string>小資訊</string>
	<key>a_transport</key>
	<string>交通</string>
	<key>a_content</key>
	<string>內容</string>
	<key>a_choose_type</key>
	<string>選擇類型</string>
	<key>a_choose_district</key>
	<string>選擇地點</string>
	<key>a_prev_page</key>
	<string>上一頁</string>
	<key>a_next_page</key>
	<string>下一頁</string>
	<key>a_spot_map</key>
	<string>景點開關</string>
	<key>a_bus_map</key>
	<string>巴士站開關</string>
	<key>a_park_map</key>
	<string>停車位開關</string>
	<key>a_tollet_map</key>
	<string>廁所開關</string>
	<key>a_zoom_out</key>
	<string>縮小地圖</string>
	<key>a_zoom_in</key>
	<string>放大地圖</string>
	<key>a_location</key>
	<string>GPS定位開關</string>
	<key>a_scroll_up</key>
	<string>向上捲動</string>
	<key>a_scroll_down</key>
	<string>向下捲動</string>
	<key>a_home</key>
	<string>返回</string>
	<key>a_link_2</key>
	<string>連結到政府資訊科技總監辦公室網頁</string>
	<key>a_link_1</key>
	<string>連結到香港傷殘青年協會網頁</string>
	<key>a_font</key>
	<string>轉換字體大小</string>
	<key>a_setting</key>
	<string>設定</string>
	<key>a_intro</key>
	<string>說明</string>
	<key>a_opinion</key>
	<string>提出意見</string>
	<key>a_search_page</key>
	<string>搜尋頁</string>
	<key>a_park</key>
	<string>地圖 － 傷殘人仕停車場</string>
	<key>a_tollet</key>
	<string>地圖 － 傷殘人仕廁所</string>
	<key>a_islands</key>
	<string>離島</string>
	<key>a_NT</key>
	<string>新界</string>
	<key>a_KLN</key>
	<string>九龍</string>
	<key>a_HK</key>
	<string>香港島</string>
	<key>a_search_sumbit</key>
	<string>搜尋</string>
	<key>a_lang_btn</key>
	<string>轉換語言，現時為中文</string>
	<key>first_download</key>
	<string>歡迎使用。第一次使用必需下載資料，請連接網絡。</string>
	<key>hkfhy_spot</key>
	<string>http://app.e-cgo.org.hk/spot-detail?id=</string>
	<key>rated_thank</key>
	<string>多謝你的評分</string>
	<key>rated_msg</key>
	<string>你已對此地方評分</string>
	<key>rated_title</key>
	<string>評分</string>
	<key>search_count</key>
	<string>共找到%u個關於%@項目</string>
	<key>size_lbl</key>
	<string>文字大小</string>
	<key>lang_lbl</key>
	<string>語言</string>
	<key>map_baidu</key>
	<string>百度</string>
	<key>map_google</key>
	<string>Google</string>
	<key>map_lbl</key>
	<string>地圖類型</string>
	<key>openning_time</key>
	<string>開放時間</string>
	<key>inpuiry</key>
	<string>查詢</string>
	<key>complain</key>
	<string>投訴</string>
	<key>opinion</key>
	<string>意見</string>
	<key>submit_msg</key>
	<string>多謝你的意見</string>
	<key>system_error</key>
	<string>系統繁忙中，請稍後再試</string>
	<key>submit_fail</key>
	<string>資料遞交失敗</string>
	<key>submit_success</key>
	<string>資料遞交成功</string>
	<key>content_invalid</key>
	<string>請填上內容</string>
	<key>name_invalid</key>
	<string>請填上你的姓名</string>
	<key>invalid_form</key>
	<string>請填妥所有資料</string>
	<key>cammara</key>
	<string>找不到相機</string>
	<key>no_camara</key>
	<string>找不到相機</string>
	<key>from_library</key>
	<string>圖片庫</string>
	<key>from_cam</key>
	<string>拍輯相片</string>
	<key>select_image</key>
	<string>選擇圖片</string>
	<key>spot_opinion_title2</key>
	<string>有何意見？</string>
	<key>submit_btn</key>
	<string>寄出</string>
	<key>remark_placeholder</key>
	<string>輸入內容</string>
	<key>upload_btn</key>
	<string>上載圖片</string>
	<key>phone_placeholder</key>
	<string>輸入聯絡電話</string>
	<key>email_placeholder</key>
	<string>輸入電郵</string>
	<key>name_placeholder</key>
	<string>輸入姓名</string>
	<key>spot_opinion_title</key>
	<string>你對景點</string>
	<key>your_rating</key>
	<string>你的評分</string>
	<key>rank_people</key>
	<string>(%@)人</string>
	<key>rank_title</key>
	<string>無障礙指數：</string>
	<key>close</key>
	<string>關閉</string>
	<key>search_placeholder</key>
	<string>輸入地方名</string>
	<key>cancel</key>
	<string>取消</string>
	<key>3G_msg</key>
	<string>資料庫已更新，確定下載？</string>
	<key>download_data</key>
	<string>更新中，請稍侯…</string>
	<key>ok</key>
	<string>確認</string>
	<key>no_network</key>
	<string>請連接網絡以使用完整功能</string>
	<key>network_alert_title</key>
	<string>網絡</string>
</dict>
</plist>
